h1 {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
  padding: 20px;
  border: 1px;
  border-radius: 10px;
  background-color: rgb(233, 229, 229);
}
label {
  margin-top: 10px;
}
input,
textarea,
.rating-buttons {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
button {
  background-color: rgb(24, 183, 231);
  color: black;
  cursor: pointer;
  margin-left: 10px;
  border-color: aqua;
}
button:hover {
  background-color: lightblue;
}
button[type="submit"] {
  margin-top: 20px;
  max-width: 80px;
  border-radius: 5px;
  padding: 10px;
}
